<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>股票管理系统</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/quill/dist/quill.snow.css">
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="/">
                    <!-- Logo icon -->
                    <b class="logo-icon p-l-10">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="/assets/images/logo-icon.png" alt="homepage" class="light-logo"/>

                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="/assets/images/logo-text.png" alt="homepage" class="light-logo"/>

                        </span>
                    <!-- Logo icon -->
                    <!-- <b class="logo-icon"> -->
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

                    <!-- </b> -->
                    <!--End Logo icon -->
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                              href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                            class="mdi mdi-menu font-24"></i></a></li>
                    <!-- ============================================================== -->
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">

                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:profile()"><i class="ti-user m-r-5 m-l-5"></i>
                                我的资料</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:logout()"><i
                                    class="fa fa-power-off m-r-5 m-l-5"></i> 登出</a>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">主页</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link" href="/page/tradeList"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">我的交易 </span></a></li>
                    <li class="sidebar-item"><a href="/page/accountList" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> 我的账户 </span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link" href="/share/list" ><i class="mdi mdi-blur-linear"></i><span class="hide-menu">股票数据</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link" href="/page/charts-share" ><i class="mdi mdi-chart-bar"></i><span class="hide-menu">股票行情</span></a></li>
                    <#if user.admin>
                    <li class="sidebar-item"> <a href="/page/userList" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu"> 人员管理 </span></a></li>
                </#if>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">个人资料</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item active" aria-current="page">个人资料</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">个人资料</h4>
                                <div class="form-group row">
                                    <label for="username"
                                           class="col-sm-3 text-right control-label col-form-label">用户名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="username" disabled value="${user.username!}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="realName"
                                           class="col-sm-3 text-right control-label col-form-label">真实姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="realName" value="${user.realName!}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="gender"
                                           class="col-sm-3 text-right control-label col-form-label">性别</label>
                                    <div class="col-sm-9">
                                        <select class="select2 form-control custom-select" id="gender">
                                            <#if user.gender == '男'>
                                            <option selected="selected">男</option>
                                            <option>女</option>
                                            </#if>
                                            <#if user.gender == '女'>
                                            <option>男</option>
                                            <option selected="selected">女</option>
                                            </#if>
                                            <#if user.gender ==''>
                                            <option selected="selected">-</option>
                                            <option>男</option>
                                            <option>女</option>
                                            </#if>
                                    </select>
                                </div>
                            </div>

                    <div class="form-group row">
                        <label for="birthday"
                               class="col-sm-3 text-right control-label col-form-label">生日</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="birthday" value="${user.birthday!}"
                                   placeholder="请填写生日">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-3 text-right control-label col-form-label">手机</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone" placeholder="请填写手机号码"
                                   value="${user.phone!}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 text-right control-label col-form-label">邮箱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="请填写邮箱"
                                   value="${user.email!}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="remark" class="col-sm-3 text-right control-label col-form-label">备注</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="remark" placeholder="请填写备注信息"
                                   value="${user.remark!}">
                        </div>
                    </div>
</div>
<div class="border-top">
    <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="updateInfo();">提交修改</button>
    </div>
</div>
</form>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">修改密码</h5>
        <div class="form-group row">
            <label class="col-md-3" for="oldPwd">原密码</label>
            <div class="col-md-9">
                <input type="password" id="oldPwd" class="form-control" placeholder="请输入原密码">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3" for="newPwd">新密码</label>
            <div class="col-md-9">
                <input type="password" id="newPwd" class="form-control" placeholder="请输入新密码">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3" for="newPwd1">确认密码</label>
            <div class="col-md-9">
                <input type="password" id="newPwd1" class="form-control" placeholder="请再次输入密码">
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick="modifyPwd();">提交修改</button>
        </div>
    </div>
</div>

</div>
</div>
<!-- editor -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">2020 © 股票交易系统</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.min.js"></script>
<!-- This Page JS -->
<script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="/dist/js/pages/mask/mask.init.js"></script>
<script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/libs/quill/dist/quill.min.js"></script>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*colorpicker*/
    $('.demo').each(function () {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            position: $(this).attr('data-position') || 'bottom left',

            change: function (value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });

    });
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    function updateInfo() {
        $.ajax({
            type: "POST",
            url: "/user/update",
            data: {
                realName: $("#realName").val(),
                gender: $("#gender").val(),
                phone: $("#phone").val(),
                birthday: $("#birthday").val(),
                remark: $("#remark").val(),
                email: $("#email").val()
            },
            success: function (data) {
                if (data.code == 0) {
                    alert("更新成功");
                } else {
                    alert(data.message);
                }
            }
        });
    }

    function modifyPwd() {
        var new1 = $("#newPwd1").val();
        var new2 = $("#newPwd").val();
        var old = $("#oldPwd").val();
        if (new1 === '' || new2 === '' || old === '') {
            alert("输入密码不能为空");
            return;
        }
        if (new1 != new2) {
            alert("两次密码输入不一致");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/password",
            data: {
                oldPwd: old,
                newPwd: new1
            },
            success: function (data) {
                if (data.code == 0) {
                    alert("修改成功");
                } else {
                    alert(data.message);
                }
            }
        });
    }
    function logout() {
        $.ajax({
            url: '/user/logout',
            type: 'post'
        });
        window.location.href = "/page/login";
    }
    function profile() {
        window.location.href = "/page/profile";
    }
</script>
</body>

</html>